.navbar-custom {
    background-color: #1f1f1f; /* Fondo oscuro */
    padding: 10px;
  }
  
  /* Estilo del logotipo */
  .navbar-brand img {
    max-width: 80px;
    height: auto;
    margin-right: 15px;
  }
  
  /* Estilo del texto "Phoenix S.O.S" en blanco */
  .navbar-custom .navbar-brand {
    color: #ffffff; /* Blanco */
    font-weight: bold;
  }
  
  /* Estilo de los enlaces en gris claro */
  .navbar-custom .nav-link {
    color: #b0b0b0; /* Gris claro */
    margin-right: 15px;
    font-weight: bold;
  }
  
  .navbar-custom .nav-link:hover {
    color: #d3d3d3; /* Gris más claro al pasar el ratón */
  }
  
  /* Alinear las imágenes a la derecha */
  .navbar-custom .navbar-images {
    margin-left: auto; /* Empuja las imágenes hacia el borde derecho */
    display: flex;
    align-items: center; /* Centra verticalmente las imágenes */
  }
  
  .navbar-custom .navbar-images img {
    max-width: 60px; /* Tamaño de las imágenes */
    margin-left: 10px; /* Espacio entre las imágenes */
  }

  .navbar-custom .navbar-text {
    color:#d3d3d3;
  }
  
  .navbar-weather {
    color:#d3d3d3;
  }

  .weather-icon {
    width: 50px;
    height: 50px;
    /* Remove any unwanted styles like background or filters */
    background: none;
    filter: none;
    opacity: 1;
  }
  
  